.button-container button:hover {
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
  }
  
  .description-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .grade  {
    padding-bottom: 10px;
  }
  .climb-preview-box p {
    padding: 10px;
  }
  
  .desc, .prot{
    font-size: 24px;;
  }
  .description-preview-box {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    width: 65%;
  }
  .climb-to-display-name {
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 10px;
  }
  .grade, .protection {
    font-size: 18px;
    margin-bottom: 8px;
    color: #666;
  }
  .climb-to-display-description {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    padding-left: 20px;
  }
  .button-container button {
    background-color: #222d2e;
    border: 3px solid #ffffff;
    color: white;
    padding: 15px 24px;
    width: 100%;
    cursor: pointer;
    font-size: large;
    border-radius: 12px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .description-preview-box,
    .button-container {
      width: 100%;
    }
  }