.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 2000px;
    margin: 0 auto;
    border-bottom: 5px solid #caa512d0;
  }
  .navbar h1 {
    color: #000000;
  }
  .navbar .links {
    margin-left: auto;
  }
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 10px;
    color: #333;
  }
  .navbar a:hover {
    color: #caa512d0;
  }